/* key frames */

@keyframes neonBlink {
    0% {
    text-shadow:
      0 0 20px rgba(153, 0, 255, 0.5),
      0 0 80px rgba(153, 0, 255, 0.5);
    }
    100% {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 1),
      0 0 10px rgb(0, 20, 255),
    }
}

/* style */

*{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
h1{
    color: white;
    padding: 2rem;
    font-size: 8vh;
    text-shadow: 
        0 0 5px white, 
        0 0 10px white,  
        0 0 20px white,
        0 0 40px rgb(0, 20, 255), 
        0 0 80px rgb(0, 20, 255);
        animation: neonBlink 0.4s ease-in-out infinite alternate;
}
a{
    color: crimson;
}
main{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
#contenuJeu{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 0.5rem;
}

/* section de jeu */

.sectionDeJeu{
    display: flex;
    height: 45rem;
    padding: 4rem;
    align-items: end;
    color: white;
    font-size: 3rem;
    background-image: url(../Images/CapsulePrincipal1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: cover;
}
.sectionDeJeu:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.sectionDeJeu:not(:hover){
    transition: 0.5s;
}

/* section de jeu ^ */

.description{
    color: red;
}
p{
    padding: 10px;
}
.img-lien{
    color: red;
    
}
img{
    display: flex;
    padding: 4rem;
    align-items: end;
    height: 300px;
}